.mainHome{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 30vh; */
    margin:25vh;
}
.innerHome{
    width: 60vw;
    border-radius: 10px;
    background-color: rgb(66, 66, 67);
    color: white;
    padding: 20px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.innerHome h2{
     color: rgb(240, 157, 1);
}